<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--    <uses-permission android:name="android.permission.READ_CONTACTS" />-->
    <!--    <uses-permission android:name="android.permission.WRITE_CONTACTS" />-->

    <!-- For Android >= 13 (API 33 - TIRAMISU) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!--	<uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />-->
    <!--	<uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />-->
    <!--	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!-- <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/> -->
</manifest>
